<!-- <div class="card mt-5" style="width: 18rem;">

    <img src="../../../assets/photo.avif" class="card-img-top" alt="card-image">
    <div class="card-body">
        <p class="card-title">{{UserValue.name}}</p>
        <p class="card-subtitle">{{UserValue.age}}</p>
        <p class="card-subtitle">{{UserValue.Gender}}</p>
        <p class="card-text">{{UserValue.Describtion}}</p>
        <ul>
            <li *ngFor="let item of UserValue.skills">{{item}}</li>
        </ul>
    </div>
  </div> -->

  <table class="table my-4">
   <thead class="mt-5">
    <tr >
        <td>Id</td>
        <td>Product Name</td>
        <td>Quantity</td>
        <td>Product Image</td>
        <td>Price</td>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let item of prolist">
        <th>{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.Quantity}}</td>
        <td><img [src]="item.imgurl" alt="product-img" style="width: 150px; height: 100px;"></td>
        <td>{{item.price}}</td>
        <td><input #QuantityInput type="number" class="form-control w-75 ml-2" placeholder="Enter Pruduct Quentity"/></td>
        <td><button class="btn btn-primary w-100" (click)="TotalPrice (item.price , QuantityInput.value)" >Buy</button></td>

    </tr>
   </tbody>
  </table>

  
  <div class=" card mt-2 w-25">
      <label for="categorySelect" class="px-3 pb-2"> Select a Category</label>
      <select id="categorySelect" [(ngModel)]="selectCategory" class="w-50 mx-3">
          <option *ngFor="let Category of catlist" [value]="Category.id">{{Category.name}}</option>
        </select>
        <p class="px-3"> your selected: {{selectCategory}}</p>
    </div>

    <div class="card p-2 w-25 mt-3">
      <h6 >Total Price: {{totalprice}}</h6>
    </div>